*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family:Cambria, Cochin, G Times, 'Times New Roman', serif;
    background-color: #eed3e8;
    /* background-image: url(./Header-JH-Station-Neukoelln.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; */
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#start-button{
    cursor: pointer;
    margin: 15px;
    border:rgb(133, 108, 152);
    font-size: 20px;
    font-weight: bold;
}

#start-button:hover {
    color: white;
    background-color: rgb(216, 198, 231);
    font-size: 1.4rem;
    padding: 2px;
    border-radius: 6px;
}

.start-cleaning {
    margin-top: 70px;
    cursor: pointer;
    border: none;
    font-size: 4rem;
    outline: none;
}

.start-cleaning:hover {
    color: white;
    /* background-color: rgb(191, 172, 207); */
    padding: 2px;
    border-radius: 6px;
    font-size: 6rem;
}

#start-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* canvas {
    background-color: blueviolet;
} */

/* .win-photo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
  }

  .won-text {
    font-size: 4rem;
    align-items: center;
  } */

  h1 {
    margin: 10px;
  }

  h3 {
    text-align: center;
  }

  #arrow-keys {
    margin: 10px;
    width: 120px;
  }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #loser-photo, .win-photo {
    width: 800px;
    margin: 70px;
  }

  .loser-text, .won-text {
    font-size: 4rem;
    color: rgb(16, 92, 92);
    text-align: center;
  }

  #rules {
    font-size: 1.5rem;
  }