*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family:Cambria, Cochin, G Times, 'Times New Roman', serif;
    background-color: #eed3e8;
    /* background-image: url(./Header-JH-Station-Neukoelln.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; */
}

div, p {
    display: flex;



    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button, span, #score{
    background-color: blueviolet;
    font-size: 2rem;
}

button {
    cursor: pointer
}

#start-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div .start-cleaning, h2 {
    font-size: 3rem;
    color: crimson;
}

/* canvas {
    background-color: blueviolet;
} */

.win-photo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
  }

  .won-text {
    font-size: 4rem;
    align-items: center;
  }